VITE_KEYCLOAK_URL=http://localhost:8080
VITE_KEYCLOAK_REALM=persea
VITE_KEYCLOAK_CLIENT_ID=persea-web

VITE_PRODUCT_API_BASE=/api/product-service
VITE_USER_API_BASE=/api/user-service
VITE_RECOMMENDATION_API_BASE=/api/recommendation-service
